body .logoAccueil{
  width: 11px;
  position: absolute;
  top: 15px;
  left: calc(50% - 5px);
}
body #menu{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #373c4a;
}
body #menu a{
  color : #9EA0A5;
  margin-left: 4px;
  margin-right: 4px;
}
body #menu a:hover{
  color : #D6D8DC;
  text-decoration: none;
}
.main{
  margin-top: 20px;
}
.logoAccueil img{
  margin-top: -12px;
}
.produit{
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.produit img{
  width: 100%;
}
body{
    background-color: #EBECED;
}
.description{
  margin-top: 5px;
  border-top: solid 1px #EBECED;
  padding: 25px 15px 25px 15px;
}
description p{
  font-size: 13px !important;
}
.desc{
  font-weight: bold;
  margin-bottom: 5px;
}
.previewProduit{
  border-radius: 3px;
  border: solid 1px #3e85cd;
  width: 50px;
  height: 50px;
  background-image: url("../images/pull.jpg");
  background-size: cover;
}
.delivery .gauche,
.return .gauche{
  color: #8a8f9c;
}
.delivery,
.return{
  font-size: 13px;
}
.delivery{
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: solid 1px #EBECED;
}
.autreProduits .descDroite,
.autreProduits .addedBy,
.autreProduits .addedMore{
  background-color: #FFF;
  margin-left: 5px;
  padding: 15px;
  border-radius: 5px;
  border: solid 1px #D7D7DA;
}
.autreProduits .addedTo,
.autreProduits .addedFrom,
.autreProduits .moreIn{
  padding: 0 15px 0 15px;
}
.autreProduits .addedMore a{
  color: #838690;
}
.autreProduits .addedTo{
  border-bottom: solid 1px #D7D7DA;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.autreProduits .descDroite .haut{
  font-size:15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #EBECED;
}
.autreProduits .descDroite .bas{
  margin-top: 25px;
}
.button{
  padding: 7px 10px 7px 10px;
  color: #838690;
  font-weight: bold;
  border-radius: 3px;
  border: solid 1px #D7D7DA;
}
.nbVote{
  padding: 7px 10px 7px 10px;
  color: #969AA7;
  border-radius: 3px;
  border: solid 1px #D7D7DA;
}
.autreProduits .addedBy{
  margin-top: 15px;
}
.autreProduits .addedBy span{
  margin-left: 10px;
  float: left;
  color: #838690;
}
.autreProduits strong{
  color: #000;
}
.autreProduits .addedBy .row{
  padding: 0 15px 0 15px;
}
.autreProduits .addedBy img#opumo{
  float: left;
  width: 32px;
}
.autreProduits .addedBy .button{
  position: absolute;
  right: 15px;
}
.addedMore{
  margin-top: 15px;
}
.miniGallery{
  width: 18%;
  margin-top: 15px;
}
.small{
  font-size: 11px;
  color: #838690;
}
.autreProduits a.small{
  margin-left: 5px;
}
.proposition{
  color: #5b626d;
  font-weight: bold;
  margin-top: 40px;
  padding-left: 0;
  margin-bottom: 20px;
}
.miniature{
  float: left;
  width: 22%;
  margin-right: 2%;
}
.miniature img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
figcaption{
  background-color: #FFF;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
figcaption a{
  color: #000;
}
.miniature .hover img{
  width: auto;
}
.miniature .hover{
  position: absolute;
  top: 0;
  background-color: #FFF;
  display: none;
  transition: all 0.5s;
}
.miniature:hover .hover{
  display: block;
}
.ligne1,
.ligne2{
  margin-bottom: 20px;
}

.prix{
    font-weight: bold;
    font-size: 20px;
    color: #5b626d;
}

.euro{
  font-size: 10px;
  color: #5b626d;
}

.option, .quantite{

  margin-top: 10px;
  font-size: 11px;
  color: #5b626d;
}

.option label, .quantite label{
  font-weight: lighter;
}

.option select{
  width: 100%;
}

.cart{
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  color: #fff;
  margin-top: 15px;
  border-radius: 3px;
  background-color: rgb(117, 173, 94);
  border: solid 1px rgb(62, 107, 50);

}
=======
>>>>>>> c5d9050e87f291098713a91c1c2455323baf26fa
